*{
	padding: 0;
	margin:0;
}

body{
	width:100%;
	height:100%;
	
	background-color:#D0D3D4; 
}

.content-wrapper{
	width:80%;
	margin:4% 10% 5% 10%;

}
.content-wrapper img{
	width: 100%;
	height: 100%

}
.btn-wrapper{
	width: 80%;
	position: absolute;
	margin-top: -23%;
	text-align: center;
	color: #ffffff;
}

.btn-wrapper a{
	text-align: center;
	
	background:grey;
	color: #D0D3D4;
	font-size: 16px;
	
	border: 1px solid white;

	cursor: pointer;
	border-radius: 5px;
	text-align: center;

}

.btn:hover{

	background-color: grey;

}

































/*html,body{
	background-color: #DCDCDC;
	
}

.container{
	position:relative;

	
}
.container img{
	width: 100%;
	height:100%;
	margin:auto;
	display: table;
	top: 0;

}

.container.bt{
	text-align: center;

}
.bt.btn{
	position:relative;
	top:50%;
}
/*.container.bt{
position:absolute;
	top: 200px;
	left:500px;
	
	background-color: #555;
	color: white;
	font-size: 16px;
	padding: 12px,24px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	text-align: center;
}
.container.bt.btn:hover{
	background-color: black;
}*/
